[submodule "vim"]
	path = vim
	url = https://github.com/fuzzball81/vim_stuff.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "urxvt-perls"]
	path = urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
