<?xml version="1.0"?>
<config>
	<item>
		<source>
			<directory>bash</directory>
			<name>bashrc</name>
		</source>
		<destination>
			<directory>$HOME</directory>
			<name>.bashrc</name>
		</destination>
	</item>
	<item>
		<source>
			<directory>bash</directory>
			<name>aliases</name>
		</source>
		<destination>
			<directory>$HOME</directory>
			<name>.bash_aliases</name>
		</destination>
	</item>
	<item>
		<source>
			<directory>vim</directory>
			<name></name>
		</source>
		<destination>
			<directory>$HOME</directory>
			<name>.vim</name>
		</destination>
	</item>
	<item>
		<source>
			<directory>vim</directory>
			<name>vimrc</name>
		</source>
		<destination>
			<directory>$HOME</directory>
			<name>.vimrc</name>
		</destination>
	</item>
	<item>
		<source>
			<directory>ctags</directory>
			<name>ctags</name>
		</source>
		<destination>
			<directory>$HOME</directory>
			<name>.ctags</name>
		</destination>
	</item>
	<item>
		<source>
			<directory>git</directory>
			<name>gitconfig</name>
		</source>
		<destination>
			<directory>$HOME</directory>
			<name>.gitconfig</name>
		</destination>
	</item>
	<item>
		<source>
			<directory>git</directory>
			<name>gitignore_global</name>
		</source>
		<destination>
			<directory>$HOME</directory>
			<name>.gitignore_global</name>
		</destination>
	</item>
	<item>
		<source>
			<directory>git</directory>
			<name>git-prompt.sh</name>
		</source>
		<destination>
			<directory>$HOME</directory>
			<name>.git-prompt.sh</name>
		</destination>
	</item>
</config>
